.nav-link {
  font-size: larger;
}
.navbar-brand {
  font-size: x-large !important;
  text-align: center !important;
}
.serachBtn {
  background-color: #7f0000 !important;
  color: #fff !important;
}
