.table {
  margin-top: 30px;
}
.table th {
  font-size: larger;
  color: #7f0000;
}
.body td {
  font-size: large;
}
.title {
  color: #7f0000;
}
.color {
  color: #7f0000;
}
.detailBtn {
  background-color: #7f0000 !important;
  color:#fff !important;
}
